<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xing.main">

    <application>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WebViewActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.WeChatArticleListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SystemArticleActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FavoriteActivity"
            android:exported="false">

        </activity>
    </application>

</manifest>