<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xing.usercenter">

    <!--作为组件module被加载时，Manifest.xml中不能配置 application name -->
    <application>
        <activity
            android:name="com.xing.usercenter.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.xing.usercenter.activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.xing.usercenter.activity.RegisterActivity"
            android:exported="false" />
    </application>

</manifest>
